---
---

<div class="epithets-container">
    <div class="epithets-wrapper">
        <span class="epithet">software developer</span>
        <span class="epithet">lifelong learner</span>
        <span class="epithet">data visualization buff</span>
        <span class="epithet">tinkerer</span>
        <span class="epithet">travel enthusiast</span>
        <span class="epithet">current Chicagoan</span>
        <span class="epithet">Notre Dame alum</span>
        <span class="epithet">amateur chef</span>
        <span class="epithet">consumer of too much coffee</span>
        <span class="epithet">big sports guy</span>
        <span class="epithet">multitime pub trivia champion</span>
    </div>
</div>

<style>
    .epithets-container {
        overflow: hidden;
        height: 3rem;
    }

    @media (min-width: 768px) {
        .epithets-container {
            height: 4.5rem;
        }
    }

    .epithets-wrapper {
        display: flex;
        flex-direction: column;
        animation: scrollEpithets 33s ease-in-out infinite;
    }

    .epithet {
        display: block;
        color: white;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 3rem;
        flex-shrink: 0;
    }

    @media (min-width: 768px) {
        .epithet {
            font-size: 2.25rem;
            line-height: 4.5rem;
        }
    }

    @media (min-width: 1024px) {
        .epithet {
            font-size: 3rem;
        }
    }

    @keyframes scrollEpithets {
        0%, 8% {
            transform: translateY(0);
        }
        9.1%, 17.1% {
            transform: translateY(-100%);
        }
        18.2%, 26.2% {
            transform: translateY(-200%);
        }
        27.3%, 35.3% {
            transform: translateY(-300%);
        }
        36.4%, 44.4% {
            transform: translateY(-400%);
        }
        45.5%, 53.5% {
            transform: translateY(-500%);
        }
        54.6%, 62.6% {
            transform: translateY(-600%);
        }
        63.7%, 71.7% {
            transform: translateY(-700%);
        }
        72.8%, 80.8% {
            transform: translateY(-800%);
        }
        81.9%, 89.9% {
            transform: translateY(-900%);
        }
        91%, 99% {
            transform: translateY(-1000%);
        }
        100% {
            transform: translateY(0);
        }
    }
</style>
